* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  padding: 5%;
  justify-content: space-between;
}

#name {
  color: blue;
  font: larger;
  font-weight: bold;
}

#menu-desktop {
  display: none;
  color: grey;
}

li {
  list-style: none;
  padding-left: 10px;
}

@media (min-width: 300px) {
  #menu-desktop {
    display: initial;
  }
  #menu-mobile {
    display: none;
  }
}

#greeting-section {
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#words {
  text-align: center;
  padding: 10%;
}

.button {
  border-radius: 10%;
  padding: 10%;
  margin-top: 5%;
  text-align: center;
  color: white;
  aspect-ratio: 7 / 2;
}

.blue-button {
  background-color: blue;
  /* Todo: make button have max-height, width  */
}

.circle {
  aspect-ratio: 1 / 1;
  width: auto;
  border-radius: 50%;
  padding: 10%;
  text-align: center;
}

#img-container {
  background-color: white;
  align-self: center;
}

@media (min-width: 300px) {
  #greeting-section {
    flex-direction: row;
  }

  #words {
    text-align: left;
  }

  .img-container {
    margin-right: 5%;
  }
}
