* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

header {
  justify-content: space-between;
}

#name {
  color: blue;
  font: larger;
  font-weight: bold;
}

#menu-desktop {
  display: none;
  color: rgb(19, 19, 19);
}

li {
  list-style: none;
  padding-left: 10px;
}

@media (min-width: 300px) {
  #menu-desktop {
    display: initial;
  }
  #menu-mobile {
    display: none;
  }
}

#greeting-section {
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#words {
  text-align: center;
}

.button {
  border-radius: 10%;
  margin-top: 5%;
  text-align: center;
  color: white;
}

.blue-button {
  background-color: blue;
  /* TODO: correct button size */
}

.circle {
  aspect-ratio: 1 / 1;
  width: auto;
  border-radius: 50%;
  text-align: center;
}

#img-container {
  background-color: white;
  align-self: center;
}

@media (min-width: 300px) {
  #greeting-section {
    flex-direction: row;
  }

  #words {
    text-align: left;
  }

  .img-container {
    margin-right: 5%;
  }
}

#about-skills-section {
  justify-content: space-between;
  flex-wrap: wrap;
}

#skills-section > h3 {
  align-self: center;
}

@media (min-width: 300px) {
  #about-me {
    width: 75%;
  }

  #skills {
    width: 25%;
  }
}

#my-projects-section {
  justify-content: space-around;
}

#card {
  border-radius: 10%;
}
.orange-button {
  background-color: orange;
  /* TODO: correct button size */
}

.card-img-container {
  background-color: lightgray;
}

@media (min-width: 300px) {
  #my-projects-section {
    flex-direction: row;
  }
}
