* {
  box-sizing: border-box;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

#name {
  color: blue;
  font: larger;
}

#menu-desktop {
  display: hidden;
  color: grey;
}

@media (min-width: 300px) {
  #menu-desktop {
    display: initial;
  }
  #menu-mobile {
    display: hidden;
  }
}

#greeting-section {
  background-color: lightgray;
}

#words {
  text-align: center;
}

@media (min-width: 300px) {
  #greeting-section {
    flex-wrap: wrap;
  }

  #words {
    text-align: left;
  }
}
