<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horizontal Dropdown Menu</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div class="col">
        <h3>Title1</h3>
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
          <li>Item5</li>
        </ul>
      </div>

      <div class="col">
        <h3>Title2</h3>
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
          <li>Item5</li>
        </ul>
      </div>

      <div class="col">
        <h3>Title3</h3>
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
          <li>Item5</li>
        </ul>
      </div>

      <div class="col">
        <h3>Title4</h3>
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
          <li>Item5</li>
        </ul>
      </div>

      <div class="col">
        <h3>Title5</h3>
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
          <li>Item5</li>
        </ul>
      </div>
    </header>

    <main>
      <h2>Welcome to Our Website</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
        expedita consectetur cum libero aperiam quis eos earum laboriosam,
        possimus corporis reprehenderit, veniam alias iste, laudantium neque
        provident tempora ipsum quae!
      </p>
    </main>
  </body>
</html>
